.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid rgba(72, 64, 64, 0.37);
  box-sizing: border-box;
  padding: 6px 6px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkboxStyle {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(191, 86, 255, 0.79);
  border-radius: 30px;
  margin-left: 20px;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  margin: 0 0 0 10px;
}

.subtitleCheck {
  color: rgba(15, 144, 162, 0.57);
  text-decoration: line-through;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  transition: text-decoration-color 0.5s;
}

.remove {
  background: transparent;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 10px;
}

.checkbox:checked + .checkboxStyle {
  background-image: url(../../assets/checkbox.svg);
  background-repeat: no-repeat;
}

.checkbox:disabled + .checkboxStyle {
  border: 2px solid rgba(191, 86, 255, 0.79);
}

.checkbox:focus + .checkboxStyle {
  box-shadow: 0 0 5px rgba(191, 86, 255, 0.79);
}
