body {
  font-family: 'Monda', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #181824;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
